*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COLORS */
:root{
    --black: #000;
    --white: #FFF;
    --dark_blue: #141922;
    --extra_light_grey: #d8d8d8;
    --light_grey: #939393;
    --grey: #65686D;
    --dark_grey: #282828;
    --opaque_grey: #93939372;
    --spotify_green: #ADFF2F;
    --opaque_black: #00000054;
}

/* UTILITIES */

.white{
    color: var(--white);
}

.d_flex{
    display: flex;
}

.sp_between_ai{
    align-items: space-between;
}

.sp_between_jc{
    justify-content: space-between;
}

.center_ai{
    align-items: center;
}

.center_jc{
    justify-content: center;
}

.f_end_jc{
    justify-content: flex-end;
}

.f_end_ai{
    align-items: flex-end;
}

.f_row{
    flex-direction: row;
}

.f_column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}


.txt_center{
    text-align: center;
}

.p_fixed{
    position: fixed;
}

.overflow_scroll{
    overflow-y: scroll;
}

.d_none{
    display: none;
}

.d_mobile{
    display: block;
}

nav ul{
    list-style-type: none;
}

/* RULES */
::-webkit-scrollbar{
    display: none;
}

main{
    height: calc(100vh - 100px);
}

footer{
    height: 100px;
    background-color: #282828;
}

.container{
    width: calc(100% - 50px);
}

.cta{
    height: 65px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.395);
}

.content{
    height: calc(100vh - 100px);
    padding-top: 65px;
    background-color: #141922;
}

.margin_content{
    margin: 0 10px;
}


.card {
    width: 50%;
    padding: 10px;
}

.cover {
    width: 100%;
    aspect-ratio: 1/1;
}

#recently_played .cards .card:first-child .cover{
    background-image: url('../img/metal_lifting.jpg');
    background-size: cover;
}

#recently_played .cards .card:nth-child(2n) .cover{
    background-image: url('../img/stranger.jpeg');
    background-size: cover;
}

#recently_played .cards .card:nth-child(3n) .cover{
    background-image: url('../img/aquietplace.jpeg');
    background-size: cover;
}

#recently_played .cards .card:nth-child(4n) .cover{
    background-image: url('../img/split.jpeg');
    background-size: cover;
}

#recently_played .cards .card:nth-child(5n) .cover{
    background-image: url('../img/cure.jpeg');
    background-size: cover;
}

#recently_played .cards .card:nth-child(6n) .cover{
    background-image: url('../img/sinister.jpeg');
    background-size: cover;
}


#create_for .cards .card:first-child .cover{
    background-image: url('../img/radar.jpeg');
    background-size: cover;
}

#create_for .cards .card:nth-child(2n) .cover{
    background-image: url('../img/mixdaily.jpeg');
    background-size: cover;
}

#popolar .cards .card:first-child .cover{
    background-image: url('../img/youg.jpeg');
    background-size: cover;
}

#popolar .cards .card:nth-child(2n) .cover{
    background-image: url('../img/einaudi.jpeg');
    background-size: cover;
}

#popolar .cover{
    border-radius: 50%;
}

.logo .d_mobile{
    width: 35px;
}

.logo img{
    margin: auto;
    padding-top: 5px;
}

.aside_main{
    padding: 15px 0;
}

.aside_main img{
    color: var(--light_grey);
    width: 30px;
}

.bttn{
    padding: 8px 30px;
    border: 1px var(--white) solid;
    border-radius: 20px;
    color: var(--white);
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.container nav ul li{
    margin: 10px;
    color: var(--grey);
    font-weight: 700;
    font-size: 13px;
}

section h1.white {
    padding: 30px 0 15px 10px;
}

section h3{
    color: var(--white);
}

.footer .footer_left, .footer .footer_right{
    width: 155px;
}

footer .footer_center{
    width: 40%;
    padding: 0 10px;
}

.footer_left .song_cover {
    width: 50px;
    height: 50px;
    background-image: url(../img/sinister.jpeg);
    background-size: cover;
}

.footer_left{
    padding-left: 10px;
}

.song_container {
    padding: 0 10px;
}

.song_title{
    color: var(--white);
    font-size: 15px;
    font-weight: bolder;
}

.song_container .small_light_grey{
    font-weight: 600;
}

.song_actions i{
    color: var(--light_grey);
}

.song_player {
    max-width: 180px;
    margin: auto;
    padding-bottom: 15px;
}

.song_player i, .footer_right i{
    color: var(--white);
}

.song_player div:nth-child(3n) i{ /* PLAY */
    font-size: 30px;
    padding: 0 20px;
}

.song_player div:nth-child(2n) i, .song_player div:nth-child(4n) i{ /* PLAY */
    font-size: 15px;
    padding: 0 10px;
}

.song_player div:first-child i{
    font-size: 15px;
    padding-right: 10px;
}

.song_player div:nth-child(5n) i{ /* PLAY */
    font-size: 15px;
    padding-left: 10px;
}

.progress_player > span{
    color: var(--white);
    font-size: 12px;
    font-weight: bolder;
}

.progress_player > span span{
    font-size: 8px;
}

.bar_progress_container{
    background-color: var(--opaque_grey);
    width: 100%;
    height: 5px;
    margin: 0 10px;
    border-radius: 20px;
    position: relative;
}

.bar_progress{
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--extra_light_grey);
    position: absolute;
}


.bar_progress_container_foot{
    background-color: var(--opaque_grey);
    width: 60px;
    height: 5px;
    border-radius: 20px;
    position: relative;
}

.bar_progress_foot{
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--extra_light_grey);
    position: absolute;
}

.bar_progress_container:hover .bar_progress{
    background-color: var(--spotify_green);
}

.bar_progress_container_foot:hover .bar_progress_foot{
    background-color: var(--spotify_green);
}


.footer_right> div{
    margin-right: 8px;
}

.bordr {
    width: 30px;
    margin: auto;
    background-color: var(--spotify_green);
    height: 5px;
    filter: opacity(0);
}

.margin_content nav ul li:first-child .bordr{
    filter: opacity(1);
}

.obscure_play{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--opaque_black);
    position: relative;
}

.obscure_play i{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.cover:hover .obscure_play{
    display: block;
}

#popolar .obscure_play{
    border-radius: 50%;
}

.progress_circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--extra_light_grey);
    right: 0;
    top: -5px;
    position: absolute;
    display: none;
}

.bar_progress_container:hover .progress_circle{
    display: block;
}

.bar_progress_container_foot:hover .progress_circle{
    display: block;
}

/*  FONTS RULES   */
.small_light_grey{
    font-size: 13px;
    color: var(--light_grey);
    font-weight: 700;
}

/*  ASIDE RULES  */
aside{
    width: 50px;
    overflow-y: hidden;
    background-color: var(--black);
}

.aside_top{
    height: calc(100% - 60px);
    min-height: 400px;
}

.aside_bottom{
    height: 60px;
}

.aside_bottom div:first-child img{
    width: 15px;
}

.aside_bottom div:nth-child(2n) img{
    width: 30px;
    background-color: var(--grey);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.aside_bottom div:nth-child(2n) span{
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
}

.d_none_playlist > *{
    display: none;
}

.aside_main > div {
    height: 35px;
}
/* MEDIA QUERY */


@media screen and (min-width: 576px) {
    aside{
        width: 200px;
    }

    .d_none{
        display: inline-block;
    }

    .d_mobile{
        display: none;
    }

    .container{
        width: calc(100% - 200px);
    }

    .d_none_playlist > *{
        display: block;
    }

    .aside_top{
        overflow-y: hidden;
        padding-top: 15px;
        height: calc(100% - 90px);
    } 

    .aside_bottom{
        height: 90px;
        padding: 5px 15px;
    }  
    
    .playlist_container{
        overflow-y: scroll;
    }
    
    .playlist_aside{
        overflow-y: hidden;
        padding-left: 15px;
    }

    .logo img{
        margin: 0;
    }

    .logo{
        padding-left: 15px;
    }

    .border_aside_left {
        width: 5px;
        margin-right: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--spotify_green);
        filter: opacity(0);
    }

    .aside_main div:first-child .border_aside_left{
        filter: opacity(1);
    }

    .aside_main > div, .aside_bottom > div{
        text-align: unset;
    }

    .aside_bottom div:first-child {
        border-bottom: 2px grey solid;
    }
        
    .aside_bottom > div:first-child {
        padding-bottom: 10px;
    }

    .aside_bottom > div:last-child {
        padding-top: 10px;
    }

    .center_img_txt > * { /* Per centrare verticalmente img e testo a fianco*/
        display: inline-block;
        vertical-align: middle;
    }

    .logo .d_none{
        width: 130px;
    }

    .playlist_aside h2{
        color: var(--white);
        font-size: 16px;
        padding-bottom: 10px;
    }

    .new_playlist_container{
        color: var(--light_grey);

    }
    .new_playlist_container i{
        font-size: 30px;
    }

    .new_playlist_container span{
        font-size: 15px;
        font-weight: 500;
    }

    .playlist_container{
        padding: 10px 0;
    }

    .playlist_container li{
        padding-bottom: 8px;
    }

    .cta{
        width: calc(100% - 200px);
    }

    .song_descr{
        flex-direction: row;
    }

    .song_descr span:first-child{
        padding-right: 7px;
    }
    
}

@media screen and (min-width: 768px) {
    .card {
        width: 25%;
    }
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}