*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COLORS */
:root{
    --black: #000;
    --white: #FFF;
    --dark_blue: #141922;
    --light_grey: #D2D2D2;
    --grey: #65686D;
    --dark_grey: #282828;
}

/* DEBUG */


.debug footer{
    background-color: #282828;
}

.debug aside{
    background-color: #000;
}

.debug .cta{
    background-color: grey/*#0000007a*/;
}

.debug .content{
    background-color: #141922;
}

.debug aside nav ul li{
    height: 30px;
    background-color: #FFF;
}

.debug .aside_bottom div{
    height: 30px;
    background-color: #FFF;
}

.debug .aside_playlist{
    background-color: aqua;
    height: 100px;
}

/* UTILITIES */

.d_flex{
    display: flex;
}

.sp_between_ai{
    align-items: space-between;
}

.sp_between_jc{
    justify-content: space-between;
}

.f_row{
    flex-direction: row;
}

.f_column{
    flex-direction: column;
}

.p_fixed{
    position: fixed;
}

.overflow_scroll{
    overflow-y: scroll;
}

.d_none{
    display: none;
}

/* RULES */
main{
    height: calc(100vh - 100px);
}

footer{
    height: 100px;
}

aside{
    width: 70px;
}

.container{
    width: calc(100% - 70px);
}

.cta{
    height: 100px;
    width: 100%;
}

.content{
    height: calc(100vh - 100px);
    padding-top: 100px;
}



/* MEDIA QUERY */


@media screen and (min-width: 576px) {
    aside{
        width: 300px;
    }

    aside li .d_none, .aside_bottom .d_none{
        display: inline-block;
    }

    .d_none{
        display: block;
    }

}

@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}