*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COLORS */
:root{
    --black: #000;
    --white: #FFF;
    --dark_blue: #141922;
    --light_grey: #D2D2D2;
    --grey: #65686D;
    --dark_grey: #282828;
}

/* DEBUG */

.debug main{
    background-color: #65686D;
}

.debug footer{
    background-color: #000;
}

.debug aside{
    background-color: #FFF;
}

.debug .container{
    background-color: antiquewhite;
}


.debug .cta{
    background-color: #65686D;
}

.debug .content{
    background-color: #141922;
}

/* UTILITIES */

.d_flex{
    display: flex;
}

.p_fixed{
    position: fixed;;
}

.overflow_scroll{
    overflow-y: scroll;
}

/* RULES */
main{
    height: calc(100vh - 100px);
}

footer{
    height: 100px;
}

aside{
    width: 70px;
}

.container{
    width: calc(100% - 70px);
}

.cta{
    height: 100px;
    width: 100%;
}

.content{
    height: calc(100vh - 100px - 100px);
    margin-top: 100px;
}


/* MEDIA QUERY */


@media screen and (min-width: 576px) {
    aside{
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}